@charset "utf-8";
h1 {
	font-size: 1.5em;
	color: darkorange;
	text-align: left;
	padding-left: 12px;
}
/* figure {
	margin: 2em auto;
} */
#media {
	margin-top: 48px;
}
#commerce {
	background-color: rgba(245,245,245, 1);
	width: 100%;
}
.svg {
	filter: drop-shadow(1.95px 1.95px 2.6px rgba(0, 0, 0, 0.45));
}
/******** Chart number-container ********/
.chart-item-group {
    display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 100%;
	margin: 0;
}
.chart-item-group div {
    flex-basis: 30%;
}

.chart-container {
	height: 250px;
	width: 90%;
}
.number-item-group {
    display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 100%;
	text-align: center;
	margin: 10px auto;
}
.number-item-group div {
    flex-basis: 30%;
	margin: 5px;
}
.card {
	box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
	border-radius: 5px;
	margin: 10px;
	display: inline-block;
	background: linear-gradient(-135deg, #FFFFFF, #FFFFFF);
	width: 100%;
}
.card h2 {
	margin: 0;
	padding: 10px;
	box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
	border-radius: 5px 5px 0 0;
	text-align: center;
	color:white;
}
.card div {
	padding: 5px;
}
.card div p {
	text-align: center;
}
.card div ul {
	padding-left: 30px;
}
.card div ul li {
	padding-right: 10px;
}

.number-card {
	box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
	border-radius: 5px;
	padding: 0px 0px 10px 0px;
	display: inline-block;
	color:white;
	width: 100%;
}
.number-card h2 {
	margin: 0.5em 0.5em 0em 0.5em;
}
.number-card p {
	font-size: 3em;
	margin: 0px;
}
.number-card span {
	font-size: 1.5em;
}

.red {
	background: linear-gradient(-135deg, #ec008c, #fc6767);
}
.blue {
	background: linear-gradient(-135deg, #0575E6, #021B79);
}
.green {
	background: linear-gradient(-135deg, #11998e, #00F260);
}
.purple {
	background: linear-gradient(-135deg, #4A00E0, #8E2DE2);
}
.orange {
	background: linear-gradient(-135deg, #f12711, #f5af19);
}
@media screen and (max-width: 760px) {
	.number-card h2 {
		font-size: 1em;
	}
	.number-card p {
		font-size: 1.5em;
	}
	.number-card span {
		font-size: 1em;
	}
	.chart-item-group {
		width: 90%;
		margin: 0 auto;
	}
	.chart-item-group div {
		flex-basis: 90%;
	}
}