<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>KPI Dashboard</title>
<link rel="icon" type="image/x-icon" href="./images/favicon.ico">
<meta name="viewport" content="width=device-width">
<meta name="robots" content="noindex,nofollow">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"/>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:ital@1&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@1,600&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@800&display=swap" rel="stylesheet">
<link rel="stylesheet" href="./css/common.css">
<link rel="stylesheet" href="./css/dashboard-styles.css">
<script
  src="https://code.jquery.com/jquery-3.6.0.min.js"
  integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
  crossorigin="anonymous"></script>
<script src="https://www.promisejs.org/polyfills/promise-7.0.4.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://unpkg.com/vue-chartjs/dist/vue-chartjs.min.js"></script>
</head>
<body>
<input type="checkbox" id="navTgl">
<label for="navTgl" class="open"><span></span></label>
<label for="navTgl" class="close"></label>
<nav class="menu">
	<h2 class="logo">KPI Dashboard</h2>
	<ul>
    <li><a href="#media">Media KPIs</a></li>
    <li><a href="#commerce">e-Commerse KPIs</a></li>
    <li><a href="./" target="_blank" rel="noopener noreferrer">Company&nbsp;<i class="fas fa-external-link-alt"></i></a></li>
  </ul>
</nav>
<div id="wrap">
    <header>
      <a id="company-logo" href="./"><i class="fas fa-cube logo-animation"></i><span class="logo">KPI Dashboard</span></a>
      <nav>
        <ul>
          <li><a href="#media">Media KPIs</a></li>
          <li><a href="#commerce">e-Commerse KPIs</a></li>
          <li><a href="./" target="_blank" rel="noopener noreferrer">Company&nbsp;<i class="fas fa-external-link-alt"></i></a></li>
        </ul>
      </nav>
    </header>
    <article id="media">
      <section>
        <h1>Media KPIs - 30 days</h1>
        <ul style="color:gray">
          <li>The media team's goal is to raise awareness among our clients.</li>
          <li>It is important to get as many customers as possible to approach our media sites.</li>
          <li>Let's take actions for improving our products based on values of KPIs for this month.</li>
        </ul>
        <figure class="number-item-group">
          <div class="number-card red">
            <h2>Achieved</h2>
          </div>
          <div class="number-card blue">
            <h2>Shortfall</h2>
          </div>
        </figure>
        <figure id="figures" class="number-item-group">
          <template v-for="card in media">
            <template v-if="card.result">
              <div class="number-card red">
                <h2>{{ card.item }}</h2>
                <p>{{ card.number }}</p>
                <span>{{ card.diff }}</span>
              </div>
            </template>
            <template v-else>
              <div class="number-card blue">
                <h2>{{ card.item }}</h2>
                <p>{{ card.number }}</p>
                <span>{{ card.diff }}</span>
              </div>
            </template>
          </template>
        </figure>
        <figure class="chart-item-group">
          <div class="chart-card">
            <h2 class="green">Social Followers Trend</h2>
            <div>
              <div class="chart-container">
                <canvas id="trend-chart"></canvas>
              </div>
              <ul>
                <li>Instagram keeps the top share but the number tends to decrease.</li>
                <li>The number of inflow from Youtube is continuing to increase and it seems it will exceed the one of Twitter next month.</li>
              </ul>
            </div>
          </div>
          <div class="chart-card">
            <h2 class="purple">Top3 Social Inflow Ratio</h2>
            <div>
              <div class="chart-container">
                <canvas id="ranking-chart"></canvas>
              </div>
              <ul>
                <li>Most visiters come to our official site via Instagram.</li>
                <li>The ratio of Instagram is a nearly double score of the second position that Facebook.</li>
              </ul>
            </div>
          </div>
          <div class="chart-card">
            <h2 class="orange">Customer Grouping</h2>
            <div>
              <div class="chart-container">
                <canvas id="grouping-chart"></canvas>
              </div>
              <ul>
                <li>Females in their teens to 20s tend to browse our site longer than other segments.</li>
                <li>The younger customers are, the more they browse the site.</li>
              </ul>
            </div>
          </div>
        </figure>
      </section>
    </article>
    <article id="commerce">
      <section>
        <h1>e-Commerce KPIs - 30 days</h1>
        <ul style="color:gray">
          <li>The e-Commerce team's goal is to increase the net profit of electronic commerce.</li>
          <li>Therefore, we need to raise the sales amount and reduce running costs.</li>
          <li>Let's take actions for increasing our net profit based on values of KPIs for this month.</li>
        </ul>
        <figure class="number-item-group">
          <div class="number-card red">
            <h2>Achieved</h2>
          </div>
          <div class="number-card blue">
            <h2>Shortfall</h2>
          </div>
        </figure>
        <figure id="sales-figures" class="number-item-group">
          <template v-for="card in sales">
            <template v-if="card.result">
              <div class="number-card red">
                <h2>{{ card.item }}</h2>
                <p>{{ card.number }}</p>
                <span>{{ card.diff }}</span>
              </div>
            </template>
            <template v-else>
              <div class="number-card blue">
                <h2>{{ card.item }}</h2>
                <p>{{ card.number }}</p>
                <span>{{ card.diff }}</span>
              </div>
            </template>
          </template>
        </figure>
        <figure class="chart-item-group">
          <div class="chart-card">
            <h2 class="green">Sales Site Trend</h2>
            <div>
              <div class="chart-container">
                <canvas id="sales-trend-chart"></canvas>
              </div>
              <ul>
                <li>Amazon keeps the top share but the number doesn't seem to increase.</li>
                <li>Shop Direct is in 4th position but it is growing up gradually.</li>
              </ul>
            </div>
          </div>
          <div class="chart-card">
            <h2 class="purple">Top5 Sales Category</h2>
            <div>
              <div class="chart-container">
                <canvas id="sales-ranking-chart"></canvas>
              </div>
              <ul>
                <li>Toys are most popular genres in our e-commerce sites.</li>
                <li>We need to focus on getting goods in the higher ranking.</li>
              </ul>
            </div>
          </div>
          <div class="chart-card">
            <h2 class="orange">Customer Grouping </h2>
            <div>
              <div class="chart-container">
                <canvas id="sales-grouping-chart"></canvas>
              </div>
              <ul>
                <li>Females in their 20s to 40s are our volume targets.</li>
                <li>The middle aged customers tend to buy more in our e-commerce sites than other segments.</li>
              </ul>
            </div>
          </div>
        </figure>
      </section>
    </article>
    <footer>
      <p class="copyright">KPI Dashboard</p>
    </footer>
</div>
<script src="./js/dashboard-scripts.js"></script>
<script src="./js/common.js"></script>
</body>
</html>